define host{
  use linux-server
  host_name server
  alias server
  address {{nagios_nrpe_ip}}
  contact_groups admins
}

define hostgroup{
  hostgroup_name servers
  alias Servers
  members server
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description Current Users
  check_command check_remote_users
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description Postgresql
  check_command check_postgresql
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description ElasticSearch Cluster Health
  check_command check_elasticsearch_cluster_health
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description Unicorn
  check_command check_unicorn
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description Unicorn processes
  check_command check_unicorn_processes
}

define service{
  use generic-service
  host_name server
  contact_groups admins
  service_description Nginx status
  check_command check_nginx_status
}

define service{
  use                             generic-service
  host_name                       server
  contact_groups                  admins
  service_description             SSH
  check_command                   check_ssh_nrpe
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     HTTP
        check_command           check_http_nrpe
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     PING
        check_command           check_ping_nrpe
}


define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Current load
        check_command           check_load_nrpe
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_procs_nrpe
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_pg_connection
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_bloat
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_backends
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_db_size
}

define service{
        use                     generic-service
        host_name               server
        contact_groups          admins
        service_description     Local procs
        check_command           check_query_time
}